<div class="panel-header panel-header-sm">
</div>

<!-- <div class="container">
</div> -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title float-left">{{league.leagueCaption}}</h5>
                    <div class="form-group float-right" *ngIf="(league | json) != '{}'">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchLeagueStanding">
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="(league | json) != '{}';else loader">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">More</th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Position</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">Pos</span>
                                        </th>
                                        <th scope="col">Club</th>
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Played</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">Pl</span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Won</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">W</span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Drawn</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">D</span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Lost</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">L</span>
                                        </th>
                                        <th scope="col" class="d-none d-md-table-cell">GF</th>
                                        <th scope="col" class="d-none d-md-table-cell">GA</th>
                                        <th scope="col">GD</th>
                                        <th scope="col">
                                            <span class="d-none d-lg-block">Points</span>
                                            <span class="d-none d-sm-block d-md-block d-lg-none">Pts</span>
                                        </th>
                                        <!-- <th scope="col">Form</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="(league.standing | leagueStanding : searchLeagueStanding).length === 0">
                                        <td scope="row" class="text-center" colspan="12">
                                            No matches
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let standing of league.standing | leagueStanding : searchLeagueStanding; let i = index">
                                        <tr [ngClass]="{'bg-primary text-white': graphSelected.indexOf(i) > -1}">
                                            <td scope="row" class="text-center">
                                                <button class="btn btn-link btn-icon bg-transparent text-dark" (click)="toggleGraph(i, standing._links.team.href)">
                                                    <span *ngIf="(graphSelected.indexOf(i) === -1); else arrowUp">
                                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                    </span>
                                                    <ng-template #arrowUp>
                                                        <span [ngClass]="{'text-white': graphSelected.indexOf(i) > -1}">
                                                            <i class="now-ui-icons arrows-1_minimal-up"></i>
                                                        </span>
                                                    </ng-template>
                                                </button>
                                            </td>
                                            <td>{{standing.position}}</td>
                                            <td>
                                                <a routerLink="{{config.removeApiUrl(standing._links.team.href)}}">
                                                <img src="{{standing.crestURI}}" height="30px" />
                                            </a>
                                            </td>
                                            <td>
                                                <a routerLink="{{config.removeApiUrl(standing._links.team.href)}}" [ngClass]="{'text-white': graphSelected.indexOf(i) > -1, 'text-dark': graphSelected.indexOf(i) === -1}">
                                                {{standing.teamName}}
                                            </a>
                                            </td>
                                            <td>{{standing.playedGames}}</td>
                                            <td>{{standing.wins}}</td>
                                            <td>{{standing.draws}}</td>
                                            <td>{{standing.losses}}</td>
                                            <td class="d-none d-md-table-cell">{{standing.goals}}</td>
                                            <td class="d-none d-md-table-cell">{{standing.goalsAgainst}}</td>
                                            <td *ngIf="(standing.goalDifference.toString()[0] === '-'); else goalDifferencePlus">{{standing.goalDifference}}</td>
                                            <ng-template #goalDifferencePlus>
                                                <td>+{{standing.goalDifference}}</td>
                                            </ng-template>
                                            <td>{{standing.points}}</td>
                                            <!--
                                            "home": {
                                              "goals": 61,
                                              "goalsAgainst": 14,
                                              "wins": 16,
                                              "draws": 2,
                                              "losses": 1
                                            },
                                            "away": {
                                              "goals": 45,
                                              "goalsAgainst": 13,
                                              "wins": 16,
                                              "draws": 2,
                                              "losses": 1
                                            } -->
                                        </tr>
                                        <tr *ngIf="(graphSelected.indexOf(i) > -1)">
                                            <td colspan="12" class="bg-dark text-white">
                                                <div *ngIf="(this.teams[i] | json) === '{}';else graph" class="py-4">
                                                    <app-loader color="white"></app-loader>
                                                </div>
                                                <ng-template #graph>
                                                    <app-chart [team]="this.teams[i]" [standing]="standing" [league]="league"></app-chart>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <ng-template #loader>
                        <app-loader-soccer></app-loader-soccer>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
