<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" routerLink="">
                <app-logo></app-logo>
            </a>
            <!-- <div class="navbar-toggle navbar-toggler-right">
                <button type="button" class="navbar-toggler" (click)="toggleMenu()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div> -->
        </div>
        <!-- (click)="onSelect(hero)" -->
        <!-- <div class="collapse navbar-collapse justify-content-end" id="appNavigation" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Home</a>
                </li>
            </ul>
        </div> -->
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>
