<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="h5 title d-flex">
                        <button routerLink="/" class="btn btn-icon btn-link mr-3">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </button>
                        <div class="align-items-center d-flex justify-content-center">
                            {{team.name}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="(team.players | json) != '{}' && (team | json) != '{}';else errorElement">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let player of team.players">
                                <div class="card card-user">
                                    <!-- <div class="image">
                                    <img src="../assets/img/bg5.jpg" alt="...">
                                </div> -->
                                    <div class="card-body">
                                        <div class="author">
                                            <!-- <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="..."> -->
                                            <h5 class="title">{{player.name}}</h5>
                                            <p class="description">
                                                {{player.nationality}}
                                                <br/> {{player.position}}
                                            </p>
                                        </div>
                                        <p class="description text-center">
                                            <span class="font-weight-bold">Jersey Number:</span> {{player.jerseyNumber}}
                                            <br/>
                                            <span class="font-weight-bold">Date of Birth:</span> {{player.dateOfBirth}}
                                            <br/>
                                            <span class="font-weight-bold">Contract Until:</span> {{player.contractUntil}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <ngb-tabset>
                            <ngb-tab title="Overview">
                                <ng-template ngbTabContent>

                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Players">
                                <ng-template ngbTabContent>
                                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                                        ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                                        8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset> -->

                        <!-- {
                    	"_links": {
                    		"self": {
                    			"href": "http://api.football-data.org/v1/teams/66/fixtures"
                    		},
                    		"team": {
                    			"href": "http://api.football-data.org/v1/teams/66"
                    		}
                    	},
                    	"season": "2017",
                    	"count": 46,
                    	"fixtures": [
                    		{
                    			"_links": {
                    				"self": {
                    					"href": "http://api.football-data.org/v1/fixtures/159321"
                    				},
                    				"competition": {
                    					"href": "http://api.football-data.org/v1/competitions/445"
                    				},
                    				"homeTeam": {
                    					"href": "http://api.football-data.org/v1/teams/66"
                    				},
                    				"awayTeam": {
                    					"href": "http://api.football-data.org/v1/teams/563"
                    				}
                    			},
                    			"date": "2017-08-13T15:00:00Z",
                    			"status": "FINISHED",
                    			"matchday": 1,
                    			"homeTeamName": "Manchester United FC",
                    			"awayTeamName": "West Ham United FC",
                    			"result": {
                    				"goalsHomeTeam": 4,
                    				"goalsAwayTeam": 0,
                    				"halfTime": {
                    					"goalsHomeTeam": 1,
                    					"goalsAwayTeam": 0
                    				}
                    			},
                    			"odds": null
                    		}
                    	]
                    } -->
                    </div>

                    <ng-template #errorElement>
                        <ng-container *ngIf="(error | json) != '{}';else loader">
                            <app-page-not-found-view></app-page-not-found-view>
                        </ng-container>

                        <ng-template #loader>
                            <app-loader-soccer></app-loader-soccer>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
