<div class="pt-4 pb-2 bg-dark">
    <div class="chart-container mx-auto">
        <canvas baseChart id="chart-canvas" [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors" [options]="lineChartOptions" [chartType]="lineChartType" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>
