.vs-score {
    color: #fff;
    font-size: 100px;

}

.vs-background {
    height: 100px;
}

.vs-team {
    background: #333;
}

.vs-score-left {
    text-align: left;
    margin-right: -35px;
}

.vs-score-right {
    text-align: right;
    margin-left: -20px;
}

.vs-team-left {
    text-align: right;

}

.vs-team-right {
    text-align: left;
}
@media only screen and (max-width: 800px) {
    // .vs-background {
    //     height: 60px;
    // }
    //
    .vs-score {
        font-size: 40px;
    }

    .vs-team-left,
    .vs-team-right {
        text-align: center;
    }

    .vs-score-left {
        text-align: center;
        margin-right: -20px;
    }

    .vs-score-right {
        text-align: center;
    }
}
