<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="h5 title d-flex">
                        <button routerLink="/" class="btn btn-icon btn-link mr-3">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </button>
                        <div class="align-items-center d-flex justify-content-center">
                            <div *ngIf="(fixture | json) != '{}';">
                                Match day: {{fixture.matchday}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body mb-3">
                    <div *ngIf="(fixture | json) != '{}';else errorElement">
                        <div class="row d-flex">
                            <div class="col-xs-12 col-sm-4 vs-team vs-team-left bg-dark text-white p-4 justify-content-center align-self-center">
                                {{fixture.homeTeamName}}
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center vs-score bg-primary">
                                <span class="vs-score-left">{{fixture.result.goalsHomeTeam}}</span>
                                <img src="{{this.vsImage}}" class="vs-background" />
                                <span class="vs-score-right">{{fixture.result.goalsAwayTeam}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-4 vs-team bg-dark text-white p-4 justify-content-center align-self-center vs-team-right">
                                {{fixture.awayTeamName}}
                            </div>
                            <!-- <table class="table table-sm table-borderless">
                                <tr>
                                    <td scope="row" class="text-right vs-team bg-dark text-white p-4">
                                        {{fixture.homeTeamName}}
                                    </td>
                                    <td scope="row" class="text-center vs-score bg-primary">
                                        <span class="vs-score-left">{{fixture.result.goalsHomeTeam}}</span>
                                        <img src="{{this.vsImage}}" class="vs-background" />
                                        <span class="vs-score-right">{{fixture.result.goalsAwayTeam}}</span>
                                    </td>
                                    <td scope="row" class="text-left vs-team bg-dark text-white p-4">
                                        {{fixture.awayTeamName}}
                                    </td>
                                </tr>
                            </table> -->

                            <div *ngIf="fixture.odds != null;" class="m-2 w-100">
                                <hr/>
                                <h3 class="m-0 text-center">OODS</h3>
                                <hr/>
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-right">
                                                Home Team
                                            </th>
                                            <th scope="col" class="text-center">
                                                Draw
                                            </th>
                                            <th scope="col" class="text-left">
                                                Away Team
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-right">
                                                {{fixture.odds.homeWin}}$
                                            </td>
                                            <td scope="row" class="text-center">
                                                {{fixture.odds.draw}}$
                                            </td>
                                            <td scope="row" class="text-left">
                                                {{fixture.odds.awayWin}}$
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <ng-template #errorElement>
                        <ng-container *ngIf="(error | json) != '{}';else loader">
                            <app-page-not-found-view></app-page-not-found-view>
                        </ng-container>

                        <ng-template #loader>
                            <app-loader-soccer></app-loader-soccer>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
